{% extends 'msuTracking/layout.html' %}
{% load static %}

{% block body %}
    <div id="page">
        <div class="pageTitle">
            <div style="width: 5%;"></div>
            <div class="logo-title">
                <img id="spartanLogo" src="{% static 'msuTracking/msuWhite1.png' %}" alt="msuLogo">
                <h1 id="title">MSUtrition</h1>
            </div>
            <div class="links">
                <a href="{% url 'logout' %}">Log-Out</a>
            </div>
        </div>
        <div class="bodyContainer">
            <div class="vertical">
                <form class="day" data-today="{% if day == todaysDate %}true{% else %}false{% endif %}" action="{% url 'index' %}"action="{% url 'index' %}" method="get">
                    <select id="date" name="date" onchange="this.form.submit()">
                        {% if day == todaysDate %}
                        <option selected value="{{ todaysDate }}">Today</option>
                    

                        {% else %}
                        <option selected>{{ day }}</option>
                        {% endif %}

                        {% for date in dates %}
                            {% if date != day %}
                                {% if date == todaysDate %}
                                    <option value="{{ date }}">Today</option>
                                {% else %}
                                    <option value="{{ date }}">{{ date }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>
                <div id="calorie-container">
                    <h2 class="title">Total Calories</h2>
                    <div class="calorie-ratio">
                        <h1 class="calories"><strong class="color">{{ total_calories }}</strong></h1>
                        <h2 class="ratio">{{ total_calories }} / 3000</h2>
                    </div>
                </div>
                <div id="macro-container">
                    <h2 class="title macro-title">Macros</h2>
                    <div class="progress-container">
                        <div class="progress">
                            <svg class="circle" viewBox="0 0 120 120">
                                <circle class="circle-background" cx="60"
                                cy="60" r="30"/>
                                <circle class="circle-progress" id="protein" cx="60"
                                cy="60" r="30"/>
                                <text class="percentage" id="proteinPercentage" x="50%" y="50%"
                                 text-anchor="middle"dominant-baseline="middle">
                                 0%</text>      
                            </svg>
                            <!-- <span class="percentage">0%</span> -->
                            <div class="macro-info">
                                <span class="macro-name">Protein</span>
                                <span class="grams" id="proteinG" >{{ total_protein }}g</span>
                            </div>
                        </div>
                        <div class="progress">
                            <svg class="circle" viewBox="0 0 120 120">
                                <circle class="circle-background" cx="60"
                                cy="60" r="30"/>
                                <circle class="circle-progress" id="carbs" cx="60"
                                cy="60" r="30"/>
                                <text class="percentage" id="carbPercentage" x="50%" y="50%"
                                 text-anchor="middle"dominant-baseline="middle">
                                 0%</text>      
                            </svg>
                            <div class="macro-info">
                                <span class="macro-name">Carbs</span>
                                <span class="grams" id="carbsG">{{ total_carbs }}g</span>
                            </div>
                        </div>
                        <div class="progress">
                            <svg class="circle" viewBox="0 0 120 120">
                                <circle class="circle-background" cx="60"
                                cy="60" r="30"/>
                                <circle class="circle-progress" id="fat" cx="60"
                                cy="60" r="30"/>
                                <text class="percentage" id="fatPercentage" x="50%" y="50%"
                                 text-anchor="middle"dominant-baseline="middle">
                                 0%</text>                         
                            </svg>
                            <!-- <span class="percentage">0%</span> -->
                            <div class="macro-info">
                                <span class="macro-name">Fat</span>
                                <span class="grams" id="fatG">{{ total_fat }}g</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="meal-container">
                {% for meal in meals %}
                        <div class="meal-info">
                            <p class="meal-name">{{ meal.meal_name }}</p>
                            <div class="totals">
                                {% for name, total in totals.items %}
                                    {% if name == meal.meal_name %}
                                        <p class="total">{{ total.0 }} Cals</p>
                                        <p class="total">{{ total.1 }}P</p>
                                        <p class="total">{{ total.2 }}C</p>
                                        <p class="total">{{ total.3 }}F</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <hr style="margin-bottom: 20px;">
                        <div class="meal">
                            {% for item in meal.item.all %}
                            <a class="del" href="{% url 'delete' item.id %}">
                                <div class="meal-item">
                                    <p class="food-name">{{ item.food_name }}</p>
                                    <div class="stats">
                                        <p class="stat">{{ item.calories }} Cals</p>
                                        <p class="stat">{{ item.protein }}P</p>
                                        <p class="stat">{{ item.carbs }}C</p>
                                        <p class="stat">{{ item.fat }}F</p>
                                    </div>
                                </div>
                                </a>
                                    <br>
                                {% empty %}
                                    <p class="empty-placeholder">No Foods</p>
                            {% endfor %}
                        </div>
                {% endfor %}
            </div>
                <button id="addMealBtn" onclick="modalOpen()"><strong class="color">+</strong> Add Meal</button>
            <div class="overlay" onclick="modalClose()"></div>
            <div class="fullOverlay" onclick="customModalClose()"></div>
            <div class="modal-2">
                <div class="modal-head modal-2-head">
                    <div class="filler2"></div>
                    <h2 class="modal-2-title">Custom Food</h2>
                    <span class="X2" onclick="customModalClose()">&times</span>
                </div>
                <form action="{% url 'custom' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-2-top">
                        <input type="text" name="food" placeholder="Name" autocomplete="off">
                        <select id="meal" name="meal">
                            <option name="Breakfast">Breakfast</option>
                            <option name="Lunch">Lunch</option>
                            <option name="Lunch">Pre-Lift</option>
                            <option name="Dinner">Dinner</option>
                        </select>
                    </div>
                    <div class="modal-2-bottom">
                        <div class="modal-2-bottom-top">
                            <input type="number" name="calories" placeholder="Cals" autocomplete="off">
                            <input type="number" name="protein" placeholder="Protein" autocomplete="off">
                            <input type="number" name="carbs" placeholder="Carbs" autocomplete="off">
                            <input type="number" name="fat" placeholder="Fat" autocomplete="off">
                        </div>
                        <div class="bottom-button">
                            <input type="submit" id="customButton" value="Add">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-container">
                <div class="modal-head">
                    <div class="filler"></div>
                    <h1>Add Food</h1>
                    <span class="X" onclick="modalClose()">&times</span>
                </div>
                <div class="food-items" id="food-list">
                    <div class="row" id="custom-food" onclick="customModalOpen()">
                        <p class="custom">Custom Food</p>
                    </div>
                        {% for food, nutrition in foodInfo %}
                            <div class="row">
                                <p style="color: #51a362;">{{ food }}</p>
                                <div class="info">
                                    <p>{{ nutrition.calories }}Cals</p>
                                    <p>{{ nutrition.protein }}P</p>
                                    <p>{{ nutrition.carbs }}C</p>
                                    <p>{{ nutrition.fat }}F</p>
                                </div>
                            </div>
                        {% endfor %}
                </div>
                <div class="modal-bottom">
                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}
                        <div class="form-top">
                            <input type="text" name="food" id="search-food" placeholder="Food" autocomplete="off">
                            <label for="quantity">Weight</label>
                            <input id="quantity" type="number" name="quantity" placeholder="#" autocomplete="off">
                        </div>
                        <div class="form-under">
                            <label for="meal">Meal</label>
                            <select id="meal" name="meal">
                                <option name="Breakfast">Breakfast</option>
                                <option name="Lunch">Lunch</option>
                                <option name="Lunch">Pre-Lift</option>
                                <option name="Dinner">Dinner</option>
                            </select>
                            <input id="submitBtn" type="submit" name="submit" value="Add">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    <script src="{% static 'msuTracking/script.js' %}"></script>
{% endblock %}
