{% extends 'msuTracking/layout.html' %}
{% load static %}

{% block body %}
    <div id="page">
        <div class="pageTitle">
            <img id="spartanLogo" src="{% static 'msuTracking/msuWhite1.png' %}" alt="msuLogo">
            <h1 id="title">MSUtrition</h1>
        </div>
        <div class="bodyContainer">
            <div class="vertical">
                <form class="day" action="{% url 'index' %}" method="get">
                    <select id="date" name="date" onchange="this.form.submit()">
                        <option selected>Today</option>
                        {% for date in dates %}
                            <option value="{{ date|date:'Y-m-d' }}">{{ date }}</option>
                        {% endfor %}
                    </select>
                </form>
                <div id="calorie-container">
                    <h2 class="title">Total Calories</h2>
                    <div class="calorie-ratio">
                        <h1 class="calories"><strong class="color">2500</strong></h1>
                        <h2 class="ratio">2500 / 3500</h2>
                    </div>
                </div>
                <div id="macro-container">
                    <h2 class="title macro-title">Macros</h2>
                    <div class="progress-container">
                        <div class="progress">
                            <svg class="circle" viewBox="0 0 120 120">
                                <circle class="circle-background" cx="60"
                                cy="60" r="35"/>
                                <circle class="circle-progress" cx="60"
                                cy="60" r="35"/>
                                <text class="percentage" x="50%" y="50%"
                                 text-anchor="middle"dominant-baseline="middle">
                                 0%</text>      
                            </svg>
                            <!-- <span class="percentage">0%</span> -->
                            <div class="macro-info">
                                <span class="macro-name">Protein</span>
                                <span class="grams">25g</span>
                            </div>
                        </div>
                        <div class="progress">
                            <svg class="circle" viewBox="0 0 120 120">
                                <circle class="circle-background" cx="60"
                                cy="60" r="35"/>
                                <circle class="circle-progress" cx="60"
                                cy="60" r="35"/>
                                <text class="percentage" x="50%" y="50%"
                                 text-anchor="middle"dominant-baseline="middle">
                                 0%</text>      
                            </svg>
                            <div class="macro-info">
                                <span class="macro-name">Carbs</span>
                                <span class="grams">25g</span>
                            </div>
                        </div>
                        <div class="progress">
                            <svg class="circle" viewBox="0 0 120 120">
                                <circle class="circle-background" cx="60"
                                cy="60" r="35"/>
                                <circle class="circle-progress" cx="60"
                                cy="60" r="35"/>
                                <text class="percentage" x="50%" y="50%"
                                 text-anchor="middle"dominant-baseline="middle">
                                 0%</text>                         
                            </svg>
                            <!-- <span class="percentage">0%</span> -->
                            <div class="macro-info">
                                <span class="macro-name">Fat</span>
                                <span class="grams">25g</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="meal-container">
                {% for meal in meals %}
                        <p class="meal-name">{{ meal.meal_name }}</p>
                        <hr>
                        <div class="meal">
                            {% for item in meal.item.all %}
                                <div class="meal-item">
                                    <p class="food-name">{{ item.food_name }}</p>
                                    <div class="stats">
                                        <p class="stat">{{ item.calories }} Cals</p>
                                        <p class="stat">{{ item.protein }}P</p>
                                        <p class="stat">{{ item.carbs }}C</p>
                                        <p class="stat">{{ item.fat }}F</p>
                                    </div>
                                </div>
                                    <br>
                                {% empty %}
                                    <p style="font-size: 20px; color: #51a362;">No Foods</p>
                            {% endfor %}
                        </div>
                {% endfor %}
            </div>
                <button id="addMealBtn" onclick="modalOpen()"><strong class="color">+</strong> Add Meal</button>
            <div class="overlay" onclick="modalClose()"></div>
            <div class="modal-container">
                <div class="modal-head">
                    <div class="filler"></div>
                    <h1>Add Food</h1>
                    <span class="X" onclick="modalClose()">&times</span>
                </div>
                <div class="food-items" id="food-list">
                        {% for food, nutrition in foodInfo %}
                            <div class="row">
                                <p style="color: #51a362;">{{ food }}</p>
                                <div class="info">
                                    <p>{{ nutrition.calories }}Cals</p>
                                    <p>{{ nutrition.protein }}P</p>
                                    <p>{{ nutrition.carbs }}C</p>
                                    <p>{{ nutrition.fat }}F</p>
                                </div>
                            </div>
                        {% endfor %}
                </div>
                <div class="modal-bottom">
                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}
                        <div class="form-top">
                            <input type="text" name="food" id="search-food" placeholder="Food">
                            <label for="quantity">Quantity</label>
                            <input id="quantity" type="number" name="quantity" placeholder="#">
                        </div>
                        <div class="form-under">
                            <label for="meal">Meal</label>
                            <select id="meal" name="meal">
                                <option name="Breakfast">Breakfast</option>
                                <option name="Lunch">Lunch</option>
                                <option name="Dinner">Dinner</option>
                            </select>
                            <input id="submitBtn" type="submit" name="submit" value="Add">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    <script src="{% static 'msuTracking/script.js' %}"></script>
{% endblock %}