{% extends 'msuTracking/layout.html' %}

{% block body %}
    <div class="signup">
        <h1 class="signup-title">Log In</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input id="signupSubmit" type="submit" value="Submit">
            {% if form.errors %}
                <p class="error">{{ form.non_field_errors.0 }}</p>
            {% endif %}
        </form>
    </div>
{% endblock %}